@charset "UTF-8";
/* ESTILO PARA IMPRESSORAS*/
*{
   margin: 10PX;
   padding: 10PX; 
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
nav{
    display: none;
}
article::after{
    content: "esse artigo foi empresso através do site www.kellle.com.br";
}