/* body{ /* testando gradiente 

   background-image: linear-gradient(to bottom ou em graul ex: 45deg, #0091AD, #FFF4E4 );
    background-image: radial-gradient( #0091AD, #FFF4E4 ); dessa forma o degrade fica circular 
    background-attachment: fixed; } 
 */

 /* *{
    text-decoration: none;          
    font-family: Arial, Helvetica, sans-serif;
 }
 body{
    background-image: linear-gradient(60deg,  #0091AD, #6EFAFB  );
    background-attachment: fixed;
 }
 main{
    background: #6EFAFB;
    width: 600px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-top: 200px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.475) ;
 }
 h1{
    text-align: center;
    color: #0091AD;
 }
 h2{
    text-align: center;
    color: #0091AD;
 }
 li a{
    color: #015161;
    
 }
 .imgg{
    display: flex;
    justify-content: center;
 }
 p{
    text-align: center;
 } */


 /*alinhamento de texto
 body{
   font: normal 16px arial, verdana, serif;
   text-align: left;
 }
 h1{
   text-align: center;
 }
 h2{
   text-align: right;
 }
 p{
   text-align: justify;
   text-indent: 30px;
 } */
  /* div{
   background-color: darkgray;
   display: inline-block;
   border: 1px solid black;
   text-align: center;
   height: 200px;
   width: 200px;
  }

  div:hover{
   background-color: azure;
  } */

  /* a{
   display: none;
  }
  div:hover > a{
   display: block;
   background-color: aqua;
   color: aliceblue;
   width: 200px;
  } */

  /* h1{
    background-color: antiquewhite;
    height: 300px;
    width: 300px;
    border-width:10px ;
    border-style: solid;
    border-color: aquamarine;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    /* margin: auto;
     }
   a{
      border-width: 5px;
      border-style: solid;
      border-color: blue;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      
   } */
    /* body{
      background: linear-gradient(45deg, blue, red) ;
      background-attachment: fixed;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0px;
    }
    header{
      background-color: rgb(255, 255, 255);
      padding: 5px;
      margin: 10px;
      border-radius: 17px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    }
    h1{
      text-align: center;
    }
    
    nav > a:hover{
      color: rgba(0, 0, 0, 0.541);
    }
    a{
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      color: black;
      padding: 5px;
      margin: 2px;
      
    }
    nav{
      text-align: center;
    }
    main{
      background-color: #f5f5dc;
    }
    
    h2{
      text-align: center;
      font-size: 50px;
    }
    aside{
      text-align: center;
      font-size: 20px;
    }
   footer{
      background-color: aliceblue;
      padding: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   } */
